EXECUTE sp_makewebtask @outputfile = N'C:\SQL Server 2000 Bible\CHA_webpage\EventList.htm', @query=N'Select * from EventList', @templatefile=N'C:\SQL Server 2000 Bible\CHA_webpage\EventListTemplate.htm.txt', @dbname=N'CHA2', @whentype=10, @datachg=N'TABLE=Event COLUMN=EventID,TourID,EventCode,DateBegin,DateEnd,Comment',@procname=N'CHA2 Web Event List',@codepage=65001,@charset=N'utf-8'